<md-content layout-padding>
  <div layout="row" layout-align="center center">
    <md-input-container class="md-block" flex="60">
      <label>Search for images</label>
      <input name="name" ng-enter ng-model="searchText" />
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="main.search(searchText)">Search</md-button>
  </div>
</md-content>
<md-content>
  <!-- add ng-repeat -->
  <div layout="row" layout-align="center center" ng-repeat="pic in main.photos">
    <a href="http://www.flickr.com/photos/{{pic.owner}}/{{pic.id}}" target="_blank">
      <img src="">
      <image>{{pic}}</image>
    </a>

  </div>
</md-content>
